
.item-container {
  display: flex;
  flex-direction: row;
}
.mat-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 5px;
  margin-top: 10px;
  margin-left: 0px;
}

.mat-card-content {
  display: flex;
  flex: 1;
}

.mat-card-actions button {
  margin: 2px;
}